<!DOCTYPE html>
<html lang="en">
<head>
  <title>Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap !-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="narrow-jumbotron.css" rel="stylesheet">

  <!-- flash messages !-->
  {% set messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h3 style="text-align:center;color:red;" class="text-muted" > {{message}} </h3>
  {% endfor %}
</head>
<body style="background-color: lightblue">


<div class="header">
  <br>
</div>


<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <h1><center>Attendance Tracker</center></h1>
  <p class="text-muted text-center">Get to Class!</p>

  <center>
  <h2>Login</h2> <br>
  <form method = "POST" action ="/authenticate">

  Enter your username:<br>
  <input type="text" name="username" required><br><br>

  Enter your password: <br>
  <input type="password" name="password" required><br><br>

  <button class="btn btn-default" type="submit" value="submit">Login</button>
  <br> <br>
      </form>

  <form method = "GET" action = "/register">
  Don't have an account?
  <button class="btn btn-default" type="submit" value="Register">Register</button>
  </form>
</center>
  </div>
</div>

  <br><br>
<div class="row">
</div>
</body>
</html>
