{% extends "base.html" %}
{% block title %}
Student Profile
{% endblock %}

<hr>
<div class="container">
  <div class="row">
    <div class="col">
    <h1 class="display-4"> ATTENDANCE </h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-7">
      <div id="mapContainer" class="card" style="height: 500px;">
      </div>
    </div>
    <div class="col-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card infobox" style="height: 160px;">
              <div class="text-left">
                <br>
              <center> <h5 id="name" style="font-size: 20px;"> Remind People about Absences: </h4> </center>
              <hr class="linethingy">
              <p id="data" style="font-size: 14px;">
             <!-- Miles per Vehicle:
              <br>
              Annual Congestion Cost:
              <br>
              Commuter Stress Index:
              <br>
              Annual Hours of Delay:
              <br>
              Excuess Fuel Consumed: -->
              <!-- Miles per Vehicle:
               <br>
               Annual Congestion Cost:
               <br>
               Commuter Stress Index:
               <br>
               Annual Hours of Delay:
               <br>
               Excuess Fuel Consumed: -->
               <!-- Miles per Vehicle:
                <br>
                Annual Congestion Cost:
                <br>
                Commuter Stress Index:
                <br>
                Annual Hours of Delay:
                <br>
                Excuess Fuel Consumed: -->
                <!-- Miles per Vehicle:
                 <br>
                 Annual Congestion Cost:
                 <br>
                 Commuter Stress Index:
                 <br>
                 Annual Hours of Delay:
                 <br>
                 Excuess Fuel Consumed: -->
              </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
  </div>
        </div>
      </div>
    </div>
</div>
<br>    </center>
