{% extends "base.html" %}
{% block title %}
Student Profile
{% endblock %}
<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/custom.css" type="text/css">
  {% block head %}
    <title> {% block title %} TITLE {% endblock %} </title>
  {% endblock %}

  <!-- bootstrap !-->
  <link href="narrow-jumbotron.css" rel="stylesheet">

  <!-- flash messages !-->
  {% set messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h3 style="text-align:center;color:red;" class="text-muted" > {{message}} </h3>
  {% endfor %}

    </head>
  <body {% block background %}
	{% endblock %}>

  <!-- TOP BAR =================================== -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">DRAWNET</a>


      <!-- left part of navbar -->
      <ul class="navbar-nav navbar-left">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        {% if loggedin %}
        <li class="nav-item ">
          <a class="nav-link" href="/account/profile">Profile</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/draw/new">Draw</a>
         </li>
	   <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
           </li>
	 <li class="nav-item">
          <a class="nav-link" href="/guess">Guess</a>
         </li>
	<li class="nav-item">
          <a class="nav-link" href="/guessed">Guessed Drawings</a>
        </li>
	<li class="nav-item">
          <a class="nav-link" href="/account/notifications">Notifications</a>
        </li>
      </ul>

      <!-- right part of navbar -->
      <ul class= "nav navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/account/logout" ><button class="btn btn-outline-success my-2 my-sm-0 nav_button" >Logout</button> </a>
        </li>
      </ul>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/account/create">Join</a>
        </li>
      </ul>

      <ul class = "nav navbar-nav ml-auto">
        <li class = "nav-item">
          <a href="/account/login" ><button class="btn btn-outline-success my-2 my-sm-0">Login</button> </a>
        </li>
      </ul>

        {% endif %}
  </nav>

<div class="body" style="background-color:lightblue;">
<br>




<hr>
<div class="container">
  <div class="row">
    <div class="col">
    <h1 class="display-4"> SMITH, JOHN </h1>
    <p class="h6"> Trombone Section </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-9">
      <div id="mapContainer" class="card" style="height: 500px;">
      </div>
    </div>
    <div class="col-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card infobox" style="height: 160px;">
              <div class="text-left">
              <center> <h5 id="name" style="font-size: 20px;"> Grades </h4> </center>
              <hr class="linethingy">
              <p id="data" style="font-size: 14px;">
             <!-- Miles per Vehicle:
              <br>
              Annual Congestion Cost:
              <br>
              Commuter Stress Index:
              <br>
              Annual Hours of Delay:
              <br>
              Excuess Fuel Consumed: -->
              <!-- Miles per Vehicle:
               <br>
               Annual Congestion Cost:
               <br>
               Commuter Stress Index:
               <br>
               Annual Hours of Delay:
               <br>
               Excuess Fuel Consumed: -->
               <!-- Miles per Vehicle:
                <br>
                Annual Congestion Cost:
                <br>
                Commuter Stress Index:
                <br>
                Annual Hours of Delay:
                <br>
                Excuess Fuel Consumed: -->
                <!-- Miles per Vehicle:
                 <br>
                 Annual Congestion Cost:
                 <br>
                 Commuter Stress Index:
                 <br>
                 Annual Hours of Delay:
                 <br>
                 Excuess Fuel Consumed: -->
              </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
  </div>
        </div>
      </div>
    </div>
</div>
<br>    </center>
