{% extends "base.html" %}
{% block title %}
Student Profile
{% endblock %}

{% block body %}

<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <form method = "GET" action ="/attendance">
      Class:
      <select name="course">
        <option value=""></option>
        {% for each in courses %}
        <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select> <br>
      Date:
      <input type="date" name="date" required>
      <input style="background-color: lightblue;" class="btn btn-info btn-block" type="submit" name="form" value="Submit">
      <br><br><br>
    </form>

    {% if searched %}
    <h2 style="text-align:center;">Attendance for {{course}} on {{date}}</h2>
    <p class="text-muted"><center>Check to mark present</center></p>
    <br>
    <form method="POST" action="/attendance">
      {% for each in students %}
      {{students[each][0]}} ({{each}})
        {% if students[each][1] %}
          <input name="{{each}}" type="radio" value="P" checked>Present</input>
          <input name="{{each}}" type="radio" value="A">Absent</input><br>
        {% else %}
          <input name="{{each}}" type="radio" value="P">Present</input>
          <input name="{{each}}" type="radio" value="A" checked>Absent</input><br>
        {% endif %}
      {% endfor %}
      <input style="background-color: lightblue;" class="btn btn-info btn-block" type="submit" name="form" value="Save">
    </form><br>
    {% endif %}

    <form style="text-align: center;" method="get" action="/">
      <button class="btn btn-default" type="submit" style="background-color: lightblue;" value="Back To Home Page" >Back To Home Page </button>
    </form>

</center>


  </div>
</div>

  <br><br>
<div class="row">
</div>
{% endblock %}
