{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}

{% block body %}
<script src="calendar.js"></script>
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <h3><center>Welcome {{username}}!</center></h3>
    <p>Number of Excused Absences: {{attendance[1]}}</p>
    <p>Number of Unexcused Absences: {{attendance[0]}} </p>
    {% for each in enrolled %}
      <p>Current Grade in {{each}}: {{enrolled[each]}}</p><br>
    {% endfor %}
    <p class="text-muted text-center">Register for a class</p>
    <form method = "POST" action = "/profile">
      <center>
        Enter your classcode and section:<br>
        <input type="text" name="classcode" required><br><br>

        Enter the class password (provided by teacher): <br>
        <input type="password" name="password" required><br><br>

        <input style="background-color: lightblue;" class="btn btn-info btn-block" type="submit" name="form" value="Submit">
        <br> <br>
      </center>
    </form>
    <div id="calendar"></div>
  </div>
</div>

  <br><br>
{% endblock %}
