{% extends "base.html" %}
{% block title %}
Registration
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">

    <form method = "GET" action ="/excuse">
      Class:
      <select>
        <option name="course" value=""></option>
        {% for each in classes %}
          <option name="course" value="{{each}}">{{each}}</option>
        {% endfor %}
      </select><br>
      Student:
      <select>
        {% for each in students %}
        <option name="student" value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>
      <input style="background-color: lightblue;" class="btn btn-info btn-block" type="submit" name="form" value="Submit">
      <br><br>
    </form>

    {% if searched %}
    <h1><center>{{name}}</center></h1>
    <p class="text-muted text-center">{{user}}</p>
	  <form method = "GET" action = "/register">
      <center>
        Number of Excused Absences: 3 <br>
        Number of Unexcused Absences: 3 <br>

        Grade:
        <input type="text" name="grade" value="{{grade}}"required><br>

        <input style="background-color: lightblue;" class="btn btn-info btn-block" type="submit" name="form" value="Submit">
        <div id="calendar"></div>
      </form>
    </form>
    {% endif %}

    <form style="text-align: center;" method="get" action="/attendance">
      <button class="btn btn-default" type="submit" style="background-color: lightblue;" value="Back To Home Page" >Back To Attendance </button>
    </form>

  </div>
</div>
<br><br>
{% endblock %}
