{% extends "base.html" %}

  {% block title %}
  Create Class
  {% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <H2 style="text-align:center;">Create a Class</h2> <br><br>
  	<form style="text-align:center;"method = "POST" action ="/class">
            Course Code: <br>
            <input type="text" name="newCode" required> <br><br>
            Course Password: <br>
            <input type = "password" name = "newPassword" required>  <br><br>
              Confirm Password: <br>
            <input type="password" name = "repeatPassword" required> <br> <br>
            Type of Class: <br>
            <input type="text" name="type" value="band or chorus?"><br>
            <button class="btn btn-default" type="submit" style="background-color: lightblue;" value="Register">Create</button>
  	</form>
	<br>
  	 <form style="text-align: center;" method="get" action="/">
          <button class="btn btn-default" type="submit" style="background-color: lightblue;" value="Back To Home Page" >Back To Home Page </button>
        </form>

</center>


  </div>
</div>

  <br><br>
<div class="row">
</div>
{% endblock %}
