{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <h1><center>Attendance Tracker</center></h1>
  <p class="text-muted text-center">Get to Class!</p>

  <center>
  <h2>Login</h2> <br>
  <form method = "POST" action ="/authenticate">

  Enter your username:<br>
  <input type="text" name="username" required><br><br>

  Enter your password: <br>
  <input type="password" name="password" required><br><br>

  <button class="btn btn-default" type="submit" value="submit">Login</button>
  <br> <br>
      </form>

  <form method = "GET" action = "/register">
  Don't have an account?
  <button class="btn btn-default" type="submit" value="Create">Register</button>
  </form>
</center>
  </div>
</div>

  <br><br>
{% endblock %}
