{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <h3><center>Welcome {{name}}!</center></h3>
    <p>Number of Excused Absences: 5 </p>
    <p>Number of Unexcused Absences: 9 </p>
    <p>Current Grade in UVS11-01: 99</p><br>
  <p class="text-muted text-center">Register for a class</p>
	<form method = "GET" action = "/register">
  <center>
  Enter your classcode and section:<br>
  <input type="text" name="classcode" required><br><br>

  Enter the class password (provided by teacher): <br>
  <input type="profile" name="section" required><br><br>

  <button class="btn btn-default" type="submit" value="submit">Submit</button>
  <br> <br>
      </form>
  </form>
</center>
  </div>
</div>

  <br><br>
{% endblock %}
