{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}

{% block body %}
<script src="calendar.js"></script>
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <h3><center>Welcome {{name}}!</center></h3>
    <p>Number of Excused Absences: 5 </p>
    <p>Number of Unexcused Absences: 9 </p>
    <p>Current Grade in UVS11-01: 99</p><br>
    <strong><h1>May, 2018</h1><table border='1'>
<tr> <th> Sunday </th>     <th> Monday </th> <th> Tuesday </th> <th> Wednesday </th>     <th> Thursday </th> <th> Friday </th> <th> Saturday </th> </tr>
<tr><td>28</td><td>29</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
<tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr>
<tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr>
<tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr>
<tr><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td>1</td><td>2</td></tr>
</table></strong>
  <p class="text-muted text-center">Register for a class</p>
	<form method = "GET" action = "/register">
  <center>
  Enter your classcode and section:<br>
  <input type="text" name="classcode" required><br><br>

  Enter the class password (provided by teacher): <br>
  <input type="profile" name="section" required><br><br>

  <button class="btn btn-default" type="submit" value="submit">Submit</button>
  <br> <br>
      </form>
  </form>
</center>
  </div>
</div>

  <br><br>
{% endblock %}
