{% extends "base.html" %}
{% block title %}
Registration
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
  <h1><center>{{name}}</center></h1>
  <p class="text-muted text-center">{{user}}</p>
	<form method = "GET" action = "/register">
  <center>
  Number of Excused Absences: 5 <br>
  Number of Unexcused Absences: 9 <br>

  Grade:
  <input type="text" name="grade" value="{{grade}}"required><br>

  <button class="btn btn-default" type="submit" value="submit">Submit</button><br><br>
  <h1>May 2018</h1><table border='1'>
<strong><tr> <th> Sunday </th><th> Monday </th> <th> Tuesday </th> <th> Wednesday </th>     <th> Thursday </th> <th> Friday </th> <th> Saturday </th> </tr></strong>
<tr><td>28</td><td>29</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
<tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr>
<tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr>
<tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr>
<tr><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td>1</td><td>2</td></tr>
</table>
  <br> <br>
      </form>
  </form>
</center>
  </div>
</div>

  <br><br>
{% endblock %}
