{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <h1><center>Excuse Absence for {{name}}</center></h1>
  <p class="text-muted text-center">{{user}}</p>

  <center>
  <form method = "POST" action ="/excuse">

  Date: <br>
  <input type="date" name="date" required><br><br>

  Reason: <br>
  <input type="text" name="reason" required><br><br>

  <input style="background-color: lightblue;" class="btn btn-info btn-block" type="submit" name="form" value="Submit">
  <br> <br>
      </form>

</center>
  </div>
</div>

  <br><br>
{% endblock %}
